* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcfcfc;
  color: #020202;
}

nav > span {
  font-weight: bold;
}

.nav-link {
  padding-left: 8px;
  background-color: #f36881;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: #fcfcfc;
  cursor: pointer;
}

.nav-link.active {
  color: #fcfcfc;
}
.yarn-icon {
  width: 45px;
  height: 35px;
  background-color: #f36881;
  padding: 8px;
  padding-right: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: 100%;
  margin: auto;
}

.page-showcase {
  display: flex;
  max-width: 100%;
  gap: 10px;
  justify-content: space-between;
  margin: 8px;
}

.page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 12px;
}

.home-img {
  width: 380px;
  height: 380px;
  border-radius: 3px;
}

.home-nav-link {
  color: #440381;
  font-weight: bold;
}

.comment-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.yarn-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #020202;
  padding: 5px;
}

.content-header {
  margin-bottom: 10px;
}

.content-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
}

.tutorial-video-div {
  width: 23vw;
  height: 15vh;
  border: 1px solid black;
}

.project-header-title {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 1.6em;
  color: #440381;
}

.project-content {
  width: 100%;
}

.project-lists {
  width: 100%;
}
.project-list {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.project-img {
  width: 280px;
  height: 200px;
  border: 2px solid #0e011ba9;
  border-radius: 5px;
  object-fit: cover;
}

.project-img:hover {
  box-shadow: 0 0 2px 1px #440381;
}

@media screen and (max-width: 1550px) {
  .content-list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 0;
  }

  .content-header {
    text-align: center;
    margin-bottom: 8px;
  }

  .comment-form {
    margin: auto;
    width: 75%;
  }
  .comment-header {
    text-align: center;
  }

  .project-img {
    width: 80vw;
    max-width: 350px;
    height: 300px;
  }

  hr {
    width: 75%;
  }

  .project-lists {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .project-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .project-select {
    margin: auto;
  }
  .page-header {
    text-align: center;
  }
}

/* 
Colors and styles: 
Main: #F36881
White: #FCFCFC
Text: #020202
Secondary: #440381





 */
