* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcfcfc;
  color: #020202;
}
/* 
Colors and styles: 
Main: #F36881
White: #FCFCFC
Text: #020202
Secondary?:
#449DD1
#C8963E
#440381
#731DD8




 */
