* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcfcfc;
  color: #020202;
}

nav > span {
  font-weight: bold;
}

.nav-link {
  padding-left: 8px;
  background-color: #f36881;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: #fcfcfc;
  cursor: pointer;
}

.nav-link.active {
  color: #fcfcfc;
}
.yarn-icon {
  width: 45px;
  height: 35px;
  background-color: #f36881;
  padding: 8px;
  padding-right: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
  height: 100%;
  margin: auto;
}

.page-showcase {
  display: flex;
  max-width: 100%;
  gap: 10px;
  justify-content: space-between;
  margin: 8px;
}

.page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 12px;
}

.home-img {
  width: 380px;
  height: 380px;
  border-radius: 3px;
}

.home-nav-link {
  color: #440381;
  font-weight: bold;
}
/* 
Colors and styles: 
Main: #F36881
White: #FCFCFC
Text: #020202
Secondary: #440381





 */
